/* Global Variables */
:root {
    --main-red: rgb(229, 9, 20);
    --main-red-hover: #e50914;
    --main-dark: rgb(20, 20, 20);
    --main-deep-dark: rgb(0, 0, 0);
    --main-grey: rgb(153, 153, 153);
  }
  
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Helvetica';
    -webkit-font-smoothing: antialiased;
    background: var(--main-dark);
    color: #fff;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: var(--main-white);
  }


/* Header Section */

.header-container {
  width: 100vw;
  height: 90vh;
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url(../images/bg.jpg) no-repeat center center/cover;
  opacity: 0.8;  
}




